{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Home
{% endblock %}


{% block content %}
<table class="table">
        <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Username</th>
                  <th scope="col">Email</th>
                  <th scope="col">Show</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
        <tbody>
        {% for user in response %}
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td><a href = " {{ url_for('getOneUser' , id = user.id) }} "><button type="button" class="btn btn-outline-info">Show</button></a></td>     
            <td><a href = " {{ url_for('delete' , id = user.id) }} "><button type="button" class="btn btn-outline-info">Delete</button></a></td>    
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% endblock %}
